/* Actual styling */
html, body {
    height: 93%;
    background-color: #f0f0f0;
    font-family: Helvetica, sans-serif;

}

/* Sets the styling for the div which contains all other divs
    Sets the height and width to be percentages of the whole percentages of the
    whole page and centers the div on the page */
#wrapper {
    height: 98%;
    width: 90%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Sets the height of the header and adds padding on both sides */
#header {
    height: 60px;
    padding: 0 10px;
}

/* Tells the heading in the header to float left (sit on the left side of the div)
    and sets the size of the font, and the paddings/margins
*/
#header h1 {
    float: left;
    font-size: 30px;
    color: black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* Gives the heading a blue colour to indicate that it's a link when hovered over */
#header h1:hover {
    color: #4286f4;
}

/* Tells the header paragraph tags, which contain the links to register/signin
    to float right(sit on the right side of the div)
*/
#header p {
    float: right;
    line-height: 2.5;
    background-color: #f9f9f9;
}

/* Styles the links to the sign in and register pages, sets the height, color,
    removes the underline, and adjusts the background colour when hovered over */
.headlink {
    line-height: 2.5;
    color:black;
    text-decoration: none;
    padding: 11px;
    background-color: #f9f9f9;
}

.headlink:hover {
    background-color: #f0f0f0;
}

/* Styles the div containing the main content of the page
    Sets the minimum height of the main-content div to fill the page allowing it to
    lengthen if there is too much content, for example there are many results

    Sets the position type to relative and then clears the float of the forms and
    result divs so it will automatically extend to display below them.
    Hides any content overflow so that it stays within the div.

    Sets the background colour to white and adds a solid black 1 pixel border to
    the top and bottom along with a 5 pixel padding to the bottom.
*/
#main-content {
    min-height: calc(99% - 120px);

    position: relative;
    clear: both;
    overflow: hidden;

    background-color: white;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    padding: 5px;
}

/* Styles the forms
    Gives all forms an absolute position in the center of the screen.
    Gives them a width and a maximum width for zoomed out view of the page.
    Sets the background colour to a light grey, adds a curve to the border,
    gives it a 20 pixel padding on all sides
*/
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: left;

    width: 40%;
    max-width: 800px;

    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 20px;
}

/* Sets the paragraph tags in the form to sit directly on the input boxes */
form p {
    margin-bottom: 0;
    padding-left: 3px;
    margin-top: 0;
}

/* Syling for the search form, centers the content and specifies the width */
#search-form1 form, #search-form2 form {
    text-align: center;
    max-width: 1800px;
    width: 80%;
}

/* Sets the position, width, height, background colour, border, padding and overflow
   of the results and reviews divs */
#results, #reviews {
    position: relative;
    float: left;
    top: 0;
    left: 50%;
    transform: translate(-50%, 140px);

    max-width: 1800px;
    width: 80%;
    height: 65%;

    background-color: #f9f9f9;
    border-radius:  15px;
    padding: 20px;
    margin-bottom: 230px;

    overflow: auto;
}

/* Positions the results div */
#results {
    transform: translate(-50%, 150px);
}

/* Styling for the map div, sets the position, width, border radius and background colour */
#map {
	position: relative;
    top: 0px;
    left: 50%;
	transform: translate(-50%, 110px);

    max-width: 1800px;
    width: 82%;
    height: 350px;

    background-color: #f9f9f9;
    border-radius:  15px;
}

/* Styling for the map div on hotspot page, sets position and border radius */
#item-map {
    position: relative;
    top: 20px;
    width: 65%;
    height: 225px;
    border-radius: 15px;
    margin-left: 20px;
}

/* Styling for the footer div, sets the height, padding, font size*/
#footer {
    height: 40px;
    clear: both;
    padding: 0 10px;
    font-size: .8em;
}

/*Input styling*/
/*General input styles*/
/*Style text, password, email, search and select fields the same*/
input[type=text], input[type=password], input[type=email], input[type=search], select {
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/*Style submit buttons and other buttons the same*/
input[type=submit], input[type=button] {
    margin: 2px 2%;
    background-color: #4286f4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*More specific input styles*/
input[type=password], input[type=email] {
    width: 100%;
}

/* Sets the width of the search input in the form */
input[type=search] {
    width: 32%;
}

/* Sets the dimensions of the labels*/
label {
    width: 15%;
    margin: auto 1%;
}

/* Is used to set the size of the select field */
select {
    width: 10%;
}

/* Sets the dimensions of the text input field */
input[type=text] {
    width: 49%;
    margin-right: calc(1% - 3px);
}


/* Sets the background colour of the buttons in the form */
input[type=submit]:hover, input[type=button]:hover {
    background-color: #2977f4;
}

/* Removes the margin on the register and signing submission buttons */
#submit {
    margin-left: 0;
}

/* Used to style all divs with the item class in the results page */
.item {
    width: 400px;
    padding: 20px;
    overflow: hidden;
	margin-right: 0px;
	display: inline-block;
	position: relative;
}

/* Styles the images for each result, adding a border and
   setting where it sits within the item class */
.item img {
    margin-right: 20px;
    float: left;
	border-style: solid;
	border-width: 1px;
    width: 150px;
    height: 150px;
}

/* Prevents the links from being coloured within the item class*/
.item a {
    text-decoration: none;
    color: inherit;
}

/* Is used to make the entire item div a link to the item page
setting the size of the span to take up the entire div */
.links span {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

/* Is used with the FontAwesome CSS to colour the stars for the ratings*/
.checked {
    color: orange;
}

.half {
	color: orange;
}

/* Is used to style the item id within the item page as opposed to the item
 class within the results page*/
#item {
    float: left;
    top: -80px;
    width: 75%;
    margin-bottom: auto;
    margin-left: 20px;
}

/* Adds a border and modifies the positioning of the image in the item div */
#item img {
    margin-right: 20px;
    float: left;
	border-style: solid;
	border-width: 1px;
}

/* Modifies the size of the FontAwesome stars within the item id div */
#item span {
	font-size: 2.5em;
}

/* Adjusts the top location, overflow property and border of the reviews and
    ratings divs, modifying them slightly from the results div so it can display
    properly*/
#reviews {
    top: -80px;
    margin-bottom: 70px;
    overflow-y: hidden;
}

/* Styling for the ratings class, sets the width and position */
.ratings {
    width: 22%;
    float: right;
}

/* Sets the ratings div's width and position */
#ratings {
    text-align: right;
    width: 100%;
    padding-right: 10px;
}

/* Used to position and set the size of the form that the user enters their review into */
#ratings-form {
    position: relative;
    top: 200px;
    margin-right: 240px;
    width: 100%;
}

#ratings h4 {
    text-align: center;
}

/* Sets the size, positioning and colouring of the background ratings bar */
.bar1 {
	background-color: black;
	width: 60%;
	height: 17px;
	display:inline-block;
    margin-left: 10px;
}

/* Sets the size and colour of the foreground ratings bar. The actual width of the
bar must be set in the HTML page so each bar has an individual size */
.bar2 {
	background-color: white;
    border: 1px black solid;
	display: inline-block;
	height: 15px;
}

/* These two div ids are used to position of the ratings text and sets its width */
.star_rating {
	display: inline-block;
}

.star_rating h6 {
    width: 80px;
    margin-top: 20px;
}

/* Sets the size, colouring and positioning of the various error messages */
.err-msg {
    color: red;
    background-color: #ffe2e2;
    padding-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    visibility: hidden;
    border-radius: 4px;
}

/*  sets width and location for the name registration error messages*/
#fname-err {
    width: 47%;
    float: left;
}

#surname-err {
    width: 47%;
    float: right;
    margin-right: 1%;
}

/* Sets the width and position of the list div containing the reviews */
#review-list {
    clear: left;
    width: 65%;
    padding: 20px;
}

/* Sets the styling for the reviews, a border on the top, the width, padding */
.review {
    clear: left;
    padding: 10px;
    border-top: 1px black solid;
    width: 100%;
    margin-top: 10px;
}

/* Sends italic'd font to the right of the review divs */
.review i {
    float: right;
}

/*Adds different styling to the forms if the display width goes below 1000px
  Sets input fields to the full form width and each get their own line.
  Moves the map and results div below the new search form
  Adjusts the results so that the text appears below the images
  And moves the ratings class to float left, inline with the rest of the content on a hotspot page
*/
@media screen and (max-width: 1000px) {
    form {
        width: 70%;
    }

    input[type=search] {
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }

    label {
        display: run-in;
        margin: 3%;
    }

    select {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    input[type=submit], input[type=button] {
        display: block;
        width: 100%;
        margin: 3px 0;
    }

    #map {
        transform: translate(-50%, 340px);
    }

    #item-map {
        margin-left: 0;
        width: 90%;
    }

    #results {
        transform: translate(-50%, 350px);
    }

    #item {
        margin-left: 0;
    }

    .ratings {
        width: 90%;
        float: left;
    }

    #review-list {
        width: 90%;
        padding: 0;
    }

    .item {
        width: 85%;
    }

    .item img {
        width: 85%;
        max-width: 200px;
    }

    #item span {
        font-size: 2em;
    }
}
